@use "./base.scss";

// put your custom CSS here!

@media screen and (max-width: 800px) {
  h2.page-title a {
    padding-left: 8px;
  }
}

@media screen and (max-width: 800px) {
  footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem 1rem; /* row gap, column gap */
    padding-left: 0;
  }

  footer ul li {
    margin: 0;
  }
}