@use "./base.scss";

// put your custom CSS here!

@media screen and (max-width: 800px) {
  h2.page-title a {
    padding-left: 8px;
  }
}

@media screen and (max-width: 800px) {
  #quartz-body footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.05rem 0.8rem;
    padding-left: 0;
  }

  #quartz-body footer ul li {
    margin: 0;
  }
}